.social-links a{
    text-decoration: none;
    font-size: 30px;

}
.fab{
    background-color: rgb(197, 230, 243);
    padding: 10px;
    border-radius: 50px;
    color: rgb(0, 60, 68);
}
.fab:hover{
    background-color: rgba(107, 206, 219, 0.596);
}
.solutions a{
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 500;
    margin-top: 5px;
}
.solutions a:hover{
    text-decoration: underline;
}